<!doctype html>
<body style="background: {{ color }};"></body>
<head>
  <meta charset="utf-8">
    <title>CNDhandson</title>
</head>

<div style="color: #2b2b2b;
    text-align:  center;
    height: 150px;
    vertical-align:  middle;">

  {% if db_connect_result %}
    <img src="{{ url_for('static', filename='img/success.jpg') }}" width="525px" height="600px">
    <h1>Databaseへの接続に成功しました！</h1>
  {% else %}
    <img src="{{ url_for('static', filename='img/failed.png') }}" width="600px" height="525px">
    <h1>Databaseへの接続に失敗しました</h1>
  {% endif %}

  {% if debug %}
    <h2> {{ debug }} </h2>
  {% endif %}

  {% if name %}
    <p>{{ name }}</p>
  {% endif %}

  {% if contents %}
  <textarea rows="10" cols="50">
    {{ contents }}
  </textarea>
  {% endif %}

</div>